* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: white;
  background: #ff7e5f;
  background: -webkit-linear-gradient(to bottom, #feb47b, #ff7e5f);
  background: linear-gradient(to bottom, #feb47b, #ff7e5f);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overview {
  margin-top: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 2.5rem;
}
.content {
  width: 70%;
  padding: 1rem;
}
.header-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
}
@keyframes headerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  width: 50%;
  opacity: 0;
  text-align: center;
  margin: 0 auto;
  animation-name: headerAnimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.form {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 1rem auto;
}
.form-group {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.form-group input {
  min-height: 2rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border: none;
  width: 60%;
  outline: none;
  padding-left: 1rem;
  margin: 0 0 0 auto;
}

.form-group button {
  min-height: 2rem;
  width: 2rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  color: white;
  border: none;
  outline: none;
  margin: 0 auto 0 0;
}
.form-group button :hover {
  cursor: pointer;
}
.order-todo {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.todo-list {
  width: 400px;
  margin: 1rem auto;
  height: 250px;
}

.todo {
  display: flex;
  align-items: center;
  border-radius: 0.2rem;
  height: 3.2rem;
  width: 100%;
  margin: 0 auto;
  border-bottom: 0.1rem solid white;
  cursor: pointer;
  padding: 0;
}
.editTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  height: 3.2rem;
  border-radius: 0.2rem;
  border-bottom: 0.1rem solid white;
}
@keyframes showanimation {
  from {
    width: 30%;
  }
  to {
    width: 100%;
  }
}

.show {
  animation-name: showanimation;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hide {
  display: none;
}
.check {
  background-color: teal;
}
.delete {
  background-color: tomato;
}
.todo button {
  height: 2.2rem;
  width: 2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: white;
}
.todo button :hover {
  cursor: pointer;
}

li {
  list-style: none;
}
.todo-item {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.completed {
  text-decoration: line-through;
  opacity: 0.8;
  background-color: #b34d12ad;
}
select {
  outline: none;
  padding: 5px;
  color: grey;
  border-radius: 0.2rem;
  height: 30px;
  cursor: pointer;
}
.pages {
  height: 4rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem auto 0 auto;
  padding-top: 1rem;
}
.pages p {
  margin: 0 1rem;
  font-size: 1.3rem;
}
.pagination-btn {
  width: 3rem;
  border: none;
  height: 2rem;
  margin: 1rem 0.15rem;
  border-radius: 0.5rem;
  background-color: transparent;
  outline: none;
}
.disabled {
  opacity: 0.7;
}

@media screen and (max-device-width: 1040px) {
  .App {
    align-items: center;
    justify-content: center;
  }
  .content {
    width: 100%;
  }
  .header {
    text-align: center;
    margin: 0 auto;
  }
  .overview {
    flex-direction: column;
  }
  .todo-list {
    width: 80%;
    min-height: 20rem;
    max-height: 20.2rem;
    padding: 0.5rem 0 0 0;
  }
  .todo {
    width: 90%;
    padding-top: 0.5rem;
  }
  select {
    max-width: 20%;
    margin: 0 auto;
  }
  .order-todo {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-device-width: 768px) {
  .App {
    align-items: center;
    justify-content: center;
  }
  .content {
    width: 100%;
    height: 80vh;
    padding: 0;
  }
  .header {
    text-align: center;
    margin: 0 auto;
  }
  .overview {
    flex-direction: column;
  }
  .todo-list {
    width: 100%;
    min-height: 20rem;
    max-height: 20.2rem;
    padding: 0.5rem 0 0 0;
  }
  .todo {
    width: 90%;
    padding-top: 0.5rem;
  }
  select {
    max-width: 20%;
    margin: 0 auto;
  }
  .order-todo {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-device-width: 414px) {
  .App {
    align-items: flex-start;
  }
  .content {
    width: 100%;

    padding: 2rem 0;
  }
  .header {
    text-align: center;
    margin: 0 auto;
  }
  .overview {
    flex-direction: column;
  }
  .order-todo {
    width: 90%;
    margin: 0 auto;
  }
  .todo-list {
    width: 100%;
    min-height: 16rem;
    max-height: 16.5rem;
    padding: 0.5rem 0 0 0;
    margin: 0;
  }
  .todo {
    width: 90%;
    padding-top: 0.5rem;
  }
  select {
    margin: 0 auto;
  }
}
